footer {
  height: 100px;
  margin: 40px;
  font-size: 11px;
}
footer a {
  text-decoration: none;
  color: #000;
}
footer p {
  text-align: center;
}

footer .nav {
  border-top: 3px solid silver;
  padding-top: 20px;
}

