@CHARSET "UTF-8";

.directorydiv{
    margin-left : 50px;
}

#directory{
 text-align: center;
    width: 150px;
}

.second_directory{
margin-left: 50px;
    margin-top: 10px;
    padding-left: 50px;
    background-color: #F0F0F0;
    margin-right: 50px;
}

.second_directory a{
    text-decoration: none ;
}

#result_info{
margin-left: 30px;
}

#result_table{
margin-left: 10px;
 margin-top: 15px;
}

#result_table th {
  text-align: left;
  }
.second_item{
    margin-left: 20px;
}

.table_privince{
   height: 70px;
    padding-right: 30px;
    width: 53px ;
  }
  
  .table_content{
    padding-left:5px;
    width: 150px;
    padding-top:10px;
    padding-right:4px;
  }
  
  .table_content_long {
    padding-left: 5px;
    padding-top: 10px;
    width: 290px;
    padding-right:10px;


